<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Add a listing</h4>
  </div>

  <div class="panel-body">

     <form #newCribForm="ngForm" (ngSubmit)="onCribSubmit(newCribForm.value)">
       <div class="form-group col-sm-4">
         <label for="address" class="">Address</label>
        <input 
           type="text" 
           class="form-control"
           placeholder="Address"
           name="address"
           ngModel
           required>
       </div>

       <div class="form-group col-sm-4">
          <label for="price" class="">price</label>
          <input 
            type="text"
            class="form-control" 
            placeholder="Price"
            name="price"
            ngModel
            required>
       </div>

       <div class="form-group col-sm-4">
          <label for="property-type" class="">Property Type</label>
         <select 
            name="type" 
            id="property-type" 
            class="form-control">
          <option *ngFor="let type of propertyTypes"
           [value] = "type">
            {{ type }}
          </option>
         </select>
       </div>
       <div class="form-group col-sm-6">
         <label for="description" class="">Description</label>
          <textarea
           type="text" 
           class="form-control"
           placeholder ="Description" 
           name="description"
          ngmodel
          required></textarea>
       </div>
       <div class="form-group col-sm-2">
         <label for="beds" class="Beds">Beds</label>
         <input 
           type="text" 
           class="form-control" 
           placeholder="Bed" 
           name="bedrooms"
           ngModel
           required>
       </div>
       <div class="form-group col-sm-2">
         <label for="baths" class="Bath">Bath</label>
         <input
           type="text" 
           class="form-control" 
           placeholder="Bath" 
           name="bathroom"
           ngModel
           required>
       </div>

       <div class="form-group col-sm-2">
          <label for="sqft" class="Sqft">SqFt</label>
          <input 
            type="text" 
            class="form-control"
            placeholder="Sqft" 
            name="area"
            ngModel
            required>
        </div>

        <div class="form-group col-sm-12">
            <button class="btn btn-primary listing-button"
            type="submit">
             Add
            </button>
            
          </div>
     </form>
  </div>
</div>
