<nav class="navbar navbar-default">
  <div class ="container-fluid">
    <a href="" class="navbar-brand">Estate Property</a>
  </div>
</nav>
<div class="container">
    <app-add-listing-form></app-add-listing-form>
  <app-estate-listing></app-estate-listing>   
</div>
